h1{
  font-size:50px;
  text-align:center;
  color:black;
  padding:1%;
}
#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;

  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}

.card{
  width:100%;
  height:auto;
  margin: 4% auto;
  box-shadow:-3px 5px 15px #000;
  cursor: pointer;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}

.addNew{
  background-color: #d9534f;
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  position: fixed;
  text-align: center;
  color: white;
  right: 5vh;
  top: 75vh;
  line-height: 4em;
  z-index: 10;
}
.addNew a{
  font-size: 22px;
  color: #fff;
}
.addNew a i{
  top: 3px;
  left: 1px;
}
.addNew a:hover{
  text-decoration: none;
}

.vcenter {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.paddingBox{
  padding-top: 60px;
  padding-bottom:70px;
}
.container{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
 display: none;
}

@media (min-width:1560px){

  .addNew{
    right: 25vw;
  }

}

@media (max-width:2000px){

  .addNew{
    right: 15vw;
  }

}

@media (max-width:1200px){
  #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;

    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }

}
@media (max-width:800px){
  #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;

    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}
@media (max-width:600px){
  #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }
  .addNew{
    right: 5vh;
  }
}
