<div class="container margineTop">
  <div class="row">
    <div class="col-md-12 text-center">
      <div #slide class="animated fadeInUp">
        <h1>환영합니다!</h1>
        <h3>이곳은 웹퍼블리셔 -
          <span class="lineChange">프론트앤드 개발자를 꿈꾸는</span>
        </h3>
        <h3>
          yirer의
          <span class="lineChange">
            포트폴리오 사이트입니다!
          </span>
        </h3>
        <button class="btn btn-primary btn-lg margineTop" (click)="classChanged()">들어가기</button>
      </div>
      <div #fadeShow class="hide">
        <h1>Hello</h1>
        <div class="row">
          <div class="col-md-5">
            <div class="draw">

                <h3>
                  <a routerLink="/portfolio/photo">앨범어플리케이션</a>
                </h3>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="draw">
              <h3>게시판</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
