<div class="container margineTop"
  style="margin:0; padding:0;">
  <div
    class="row"
    style="height:100%;display:table; width:100%; margin:0; padding:0;"
    *ngIf="isClassVisible === false;else showClass">
    <div
      class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 text-center"
      style="display:table-cell; color:#101010; vertical-align:middle; float:none;"
      >
      <div
        #slide
        class="animated fadeInUp"
        style="background:rgba(255, 255, 255, 0.65); border-radius:15px; padding:10px 0;
        box-shadow: 2px 2px 5px #c3c3c3, -2px -2px 5px #c3c3c3;">
        <h2>환영합니다!</h2>
        <h4>이곳은 웹퍼블리셔 -
          <span class="lineChange">프론트앤드 개발자를 꿈꾸는</span>
        </h4>
        <h4>
          yirer의
          <span class="lineChange">
            포트폴리오 사이트입니다!
          </span>
        </h4>
        <button class="btn btn-primary btn-lg margineTop" (click)="classChanged()">들어가기</button>
      </div>
    </div>
  <div
    #fadeOut
    class="video"
    style="
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:-1;

    ">
      <video [src]="videoSrc" height="95%" autoplay loop></video>
  </div>
  </div>
</div>
<ng-template #showClass>
  <app-start></app-start>
</ng-template>
<!--
background:url('https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg');
background-size:cover;
filter:grayscale(0.1);
opacity:0.1;
background-position:center; -->
