<div class="container">
  <div
    class="row mainRow"
    *ngIf="isClassVisible === false;else showClass">
    <div
      class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 text-center centerBox">
      <div
        #slide
        class="slide animated fadeInUp">
        <h2>환영합니다!</h2>
        <h4>
          웹퍼블리셔 -
          <span class="lineChange">프론트앤드를 지향합니다.</span>
        </h4>
        <button class="btn btn-primary btn-lg margineTop" (click)="classChanged()">들어가기</button>
      </div>
    </div>
  </div>
</div>
<ng-template #showClass>
  <app-start></app-start>
</ng-template>
