<div class="container paddingBox text-center hide"
id="profileMain">
<div class="row">
  <div class="hide" id="profileImg">
    <div
    class="img-circle center-block profileRow">
      <img
        class="img-responsive"
        [src]="profile"
        (load)="profileLoad()"
        >
    </div>
    <h1>안녕하세요!</h1>
    <h3>박태준입니다!</h3>
    <br>
    <p>웹퍼블리셔, 나아가 프론트앤드를 지향합니다.</p>
  </div>
  <div
    class="col-md-10 col-md-offset-1 hide"
    id="tech">
    <hr>
    <h3>경험한 기술들</h3>
    <br>
    <div class="row">
      <div
      class="col-md-3 col-sm-4 col-xs-6 text-center techImg"
      *ngFor="let logo of data;">
        <div
          class="thumbnail center-block">
          <img
            class="img-responsive center-block"
            src="{{logo.imgUrl}}"
            alt="{{logo.name}}"
            (load)="techLoad()">
        </div>
        <h5>{{logo.name}}</h5>
        <br>
        <span
          *ngFor="let tag of logo.tag;"
        >
        <button type="button" class="{{tag.type}}">{{tag.content}}</button>
        </span>
        <hr>
      </div>
    </div>
  </div>
  <div
    class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 hide"
    id="introduce">
    <br>
    <h3>자기소개</h3>
    <br>
    <div class="well text-left" #introduce>
      어렸을 때부터 흥미가 생기는 무언가를 만드는 것을 좋아했습니다.
      그러다보니 새로운 기술에도 관심이 많았습니다.
      <br><br>
      시각디자인과 졸업 후,
      디자인과 웹 기술의 접목된 웹 퍼블리셔(웹 프론트 엔드)가 저에게 새롭게 다가왔습니다.
      <br><br>
      웹에 관련된 자료와 교육을 통하여 기술을 습득하게 되었고,
      퍼블리셔에서 웹 프론트 엔드 개발자로 나아가고 싶어졌습니다.
      <br><br>
      저의 손으로 직접 만든 사이트가 서비스된다면,
      또 다양한 기술은 접 할 수 있다면 행복할 것 같습니다.
      <br><br>
      활발한 성격은 아니지만, 저의 부족한 부분을 채워
      사람들과 소통을, 사용자에겐 콘텐츠를 전달하는
      '웹 프론트 엔드'의 길을 걷고 싶습니다.
    </div>
  </div>
</div>
</div>
<div class="paddingBox vcenter"
  id="loading">
  <div class="text-center">
    <h3 class="animated flipInX infinite">Now Loading....</h3>
  </div>
</div>
