.footer{
  width: 100%;
  height: 50px;
  background-color: rgb(91, 89, 83);
  position: fixed;
  bottom: 0;
  display: table;
}
.centerCell{
  display: table-cell;
  color:#fff;
  font-size: 1.5ch;
  vertical-align: middle;
  text-align: center;
}
.centerCell span{
  display: inline-block;
}
